/* Main Page Element */

body
{
	font-family: Amaranth, Roboto, Arial;
    
	margin: 0px;
}

p, span, button
{
	margin: 0px;
	color: white;
	line-height: 1.5;
}

.section
{
	position: relative;
	height: 800px;
}

.p-bold, .p-highlight
{
	font-weight: bold;
}

.p-highlight
{
	color: rgb(255, 244, 142);
}

#main-header
{
	display: flex;
	flex-direction: row;
	align-items: center;
	
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;

    height: 150px;
	
	letter-spacing: 1.05px;
    background-color: rgb(32, 53, 85);
    color: white;
	
	transition: all 0.3s ease;
}

.main-header-name
{
	flex: 1;
	
	margin-left: 100px;
}

.main-header-navigation
{
	flex : 1;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	
	margin-right: 100px;
	gap: 10px;
}

.main-header-navigation-button
{
	background-color: transparent;
	border-radius: 50px;
	color: white;
	text-decoration: none;
	
	font-size: 18px;
	font-weight: bold;
	padding: 15px 20px;
	
	scale: 1;
	
	transition: all 0.2s ease;
}

.main-header-navigation-button:hover
{
	background-color: rgb(255, 244, 142);
	color: rgb(32, 53, 85);
	
	scale: 1.1;
	
	transition: all 0.2s ease;
}

.main-header-navigation-button:active
{
	background-color: rgb(255, 191, 0);
	scale: 0.9;
	
	transition: all 0.2s ease;
}

.main-footer
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
    height: 100px;
	
    background-color: rgb(32, 53, 85);
    color: white;
}

.main-footer-contact
{
	flex: 1;
	
	margin-left: 100px;
}

.main-footer-link
{
	flex : 1;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
	gap: 20px;
}

.main-footer-link-icon
{
	width: 40px;
	height: 40px;
	
	transition: 0.3s ease;
}

.main-footer-link-icon:hover
{
	cursor: pointer;
	
	scale: 1.1;
	transition: 0.3s ease;
}

.main-footer-link-icon:active
{
	scale: 0.9;
	transition: 0.3s ease;
}

.main-footer-copyright
{
	flex : 1;
	
	margin-right: 100px;
	text-align: right;
}

/* Extra Page Element */

.section-split-left
{
	position: absolute;

	height: 100px;
	left: 0;
	right: 0;
	bottom: 0;
	
	background: linear-gradient(to bottom left, transparent 0%, transparent 50%, black 50%, black 100%);
}

.section-split-right
{
	position: absolute;
	
	height: 100px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	background: linear-gradient(to bottom right, transparent 0%, transparent 50%, black 50%, black 100%);
}