:root {
	--nV8SAIOL30afp: #203555;
	--A8FUJMaov9z: #FFF48E;
	--izop8Jj3olAF9a: #FFBF00;
}

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: Amaranth, Roboto, Arial;
	background-color: var(--nV8SAIOL30afp);
	margin: 0px;
}

body {
	animation: iOA9VKOav ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

p, em, span, button, li {
	font-family: Amaranth, Roboto, Arial;
	margin: 0px;
	color: white;
	line-height: 1.5;
}

img {
	color: var(--A8FUJMaov9z);
	text-decoration: underline;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	border-width: 0px;
}

.u98fa3AFRz {
	position: relative;
	height: auto;
}

.lOP4sf31r4fsA {
	position: relative;
	
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.fasAJ8J5KM, .nA9aFzctAY {
	font-weight: bold;
}

.nA9aFzctAY {
	color: var(--A8FUJMaov9z);
}

.lA0fAH7z {
	scale: 1;
	transition: all 0.2s ease;
}

.lA0fAH7z:hover {
	scale: 1.1;
	cursor: pointer;
	transition: all 0.2s ease;
}

.lA0fAH7z:active {
	scale: 0.9;
	transition: all 0.2s ease;
}

#Ga894fga3F {
	position: relative;
	
	width: 100%;
	height: 100px;
}

#fGGFA4ag502ah {
	position: fixed;
	z-index: 100;
	
	top: 0px;
	height: 100px;
	width: 100%;
	
	letter-spacing: 1.05px;
    background-color: var(--nV8SAIOL30afp);
    color: white;
	
	transition: top 0.2s ease;
}

#Vi2A0gZCb {
	display: flex;
	position: absolute;
	
	flex-direction: column;
	justify-content: center;
	
	margin: auto;
	
	top: 0;
	bottom: 0;
	left: 5vw;
	font-size: 25px;
	
	color: white;
}

#u19Dp37FNAag {
	position: relative;
	float: right;
	overflow: visible;
	
    width: 100%;
	height: 100%;
	
	top: 0;
	width: fit-content;
	margin-right: 5vw;
    max-height: none;
	
    background-color: transparent;
    transition: max-height 0.5s ease-out;
}

#pAF8aj1FG26 {
	height: 100%;
	margin-top: 25px;
}

#pAF8aj1FG26 a, .kA98F4IaoBa921 {
    display: block;
	margin-left: 1vw;
}

.nA8FIIO3aol3FA .kA98F4IaoBa921, .nA8FIIO3aol3FA:hover .kA98F4IaoBa921 {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
} 

#pAF8aj1FG26 li {
	float: left;
}

.r8GFaok45A {
	display: block;
	
	background-color: transparent;
	border-radius: 30px;
	color: white;
	text-decoration: none;
	
	font-size: 16px;
	font-weight: bold;
	padding: 15px 20px;
	
	scale: 1;
	
	transition: all 0.2s ease;
}

.r8GFaok45A:hover {
	background-color: var(--A8FUJMaov9z);
	color: var(--nV8SAIOL30afp);
}

.r8GFaok45A:active {
	background-color: var(--izop8Jj3olAF9a);
}

#N8ajf3O1FAa {
	display: none;
	
	cursor: pointer;
    float: right;
	
    padding: 40px 20px;
	margin-right: 5vw;
	
	font-size: 2.5vw;
	z-index: 200;
}

.Gay40FLK2a {
    position: relative;
	display: block;
	
    width: 24px;
    height: 2px;
	
    background: white;
}

.Gay40FLK2a::before, .Gay40FLK2a::after {
    display: block;

    width: 100%;
    height: 100%;
    position: absolute;
	
    content: '';
    background: white;
	
    transition: all 0.2s ease-out;
}

.Gay40FLK2a::before {
    top: 7px;
}

.Gay40FLK2a::after {
    top: -7px;
}

#Uak9AF43la {
	display: none;
}

#Uak9AF43la:checked ~ nav {
    max-height: 100%;
}

#Uak9AF43la:checked ~ #N8ajf3O1FAa .Gay40FLK2a {
    background: transparent;
}

#Uak9AF43la:checked ~ #N8ajf3O1FAa .Gay40FLK2a::before {
    top: 0;
	transform: rotate(-45deg);
}

#Uak9AF43la:checked ~ #N8ajf3O1FAa .Gay40FLK2a::after {
	top: 0;
    transform: rotate(45deg);
}

body:has(#Uak9AF43la:checked) {
	overflow: hidden;
}

#Uak9AF43la:checked~nav #pAF8aj1FG26 li  {
	animation: pA0F4ah4b1 0.3s forwards;
}

.kA98F4IaoBa921, .kA98F4IaoBa921:hover, .kA98F4IaoBa921:active {
	width: 100%;
	transition: all 0.2s ease;
}

.kA98F4IaoBa921:hover, .kA98F4IaoBa921:active, .nA8FIIO3aol3FA:hover .kA98F4IaoBa921
{
	color: var(--nV8SAIOL30afp);
	background-color: var(--A8FUJMaov9z);
	
	transition: all 0.2s ease;
}

.nA8FIIO3aol3FA:hover .yA94Kalzt841Gah, .yA94Kalzt841Gah:hover {
	display: block;
	
	opacity: 1;
	
	animation: qA87TOPSbsa 0.2s ease;
}

.yA94Kalzt841Gah {
	display: none;
	
	width: 100%;
	margin: 0 1vw;
	
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	
	opacity: 0;
    background-color: var(--A8FUJMaov9z);
	
	animation: v98AOI4ahy 0.2s ease;
}

.yA94Kalzt841Gah a {
    padding: 10px;
	
	color: var(--nV8SAIOL30afp);
	font-weight: bold;
    text-decoration: none;
	
	transition: all 0.2s ease;
}

.yA94Kalzt841Gah a:hover {
	font-size: 115%;
	
	transition: all 0.2s ease;
}

.yA94Kalzt841Gah a:active {
	font-size: 90%;
	
	transition: all 0.2s ease;
}

#ma8FHao54AG {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
	margin: 10px 0;
	
    background-color: var(--nV8SAIOL30afp);
	font-size: 20px;
    color: white;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#rA8CJ2pvz65 {
	flex: 1;
	
	margin-left: 5vw;
}

#oa98FK2afG {
	flex : 1;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
	letter-spacing: 1.05px;
	
	gap: 20px;
}

.tF2la0zxlA {
	width: 45px;
	height: 45px;
	
	transition: 0.2s ease;
}

#eA8F98K3afv {
	flex : 1;
	
	margin-right: 5vw;
	text-align: right;
}

#Nai39p1szF {
	position: fixed;
	
	right: 50px;
	bottom: 120px;
	
	padding: 10px 12px;
	border-radius: 25px;
	
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	background-color: var(--A8FUJMaov9z);
	color: var(--nV8SAIOL30afp);
	
	transition: all 0.2s ease, margin-right 1.2s ease;
}

#Nai39p1szF:active {
	background-color: var(--izop8Jj3olAF9a);
}

.bVa49A20a1FG {
	margin-right: -100%;
	transition: margin-right 1.2s ease;
}

/* Extra Page Element */

.nvA848af9kA, .mA8FO3Ia4aby6TG {
	position: absolute;

	height: 100px;
	left: 0;
	right: 0;
	bottom: 0;
}

.nvA848af9kA {
	background: linear-gradient(to bottom left, transparent 0%, transparent 50%, var(--m98F34apZg3y) 50%, var(--m98F34apZg3y) 100%);
}

.mA8FO3Ia4aby6TG {
	background: linear-gradient(to bottom right, transparent 0%, transparent 50%, var(--m98F34apZg3y) 50%, var(--m98F34apZg3y) 100%);
}

/* Media Query for Mobile */

@media (max-width: 768px) {
	#fGGFA4ag502ah, #Ga894fga3F {
		height: 80px;
	}
	
	#Vi2A0gZCb {
		font-size: 16px;
	}
	
	#u19Dp37FNAag {
		position: fixed;
		overflow: hidden;
		
		width: 100%;
		top: 80px;
		max-height: 0;
	
		background-color: black;
	}
	
	#pAF8aj1FG26 {
		flex-direction: column;
	}
	
	#pAF8aj1FG26 li {
		float: none;
	}
	
	#N8ajf3O1FAa {
        display: block;
    }
	
	.r8GFaok45A:hover, .r8GFaok45A:active {
		scale: 1;
	}
	
	.r8GFaok45A, .yA94Kalzt841Gah {
		margin: 0;
	}
	
	#ma8FHao54AG {
		flex-direction: column;
		
		margin: 10px 0;
		font-size: 18px;
	}
	
	#rA8CJ2pvz65, #eA8F98K3afv {
		margin: 0;
		text-align: center;
	}
	
	#oa98FK2afG {
		margin: 10px 0;
	}
	
	#Nai39p1szF {
		width: 50px;
		height: 50px;
	}
	
	.nvA848af9kA, .mA8FO3Ia4aby6TG {
		height: 50px;
	}
}

@keyframes iOA9VKOav {
    0% {
        opacity: 0;
    }
	
    100% {
        opacity: 1;
    }
}

@keyframes pA0F4ah4b1 {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}
	  
	to  {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes t923PFNaga {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes qA87TOPSbsa {
    0% { 
        opacity: 0; 
        display: none; 
    }
	
	1% {
		opacity: 0.01;
        display: block; 
	}
  
    100% { 
        opacity: 1; 
        display: block; 
    } 
}

@keyframes v98AOI4ahy { 
    0% { 
        opacity: 1; 
        display: block; 
    }
	
	99% {
		opacity: 0.01;
        display: block; 
	}
  
    100% { 
        opacity: 0; 
        display: none; 
    } 
}